@charset "utf-8";
/*
	TOC
		Scroll taules
*/

/*-- Scroll taules
------------------------------------------------------------------------- */
div.scroll-taula thead th {
	position: static;
}

/*-- Altres
------------------------------------------------------------------------- */
div.filtres span.visibles {
	margin-left: 0.2em;
	margin-top: 0.8em;
	text-decoration: none;
}